@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,600&display=swap");

.backdrop-container {
  height: 675px;
  width: 100%;
  margin-bottom: 50px;

  @media screen and (max-width: $large) {
    height: 500px;
  }

  @media screen and (max-width: $medium) {
    height: 325px;
  }

  .backdrop {
    position: relative;
    max-width: 1024px;
    width: 100%;
    min-width: 370px;
    margin: auto;
    z-index: -1;
    top: -43px;

    @media screen and (max-width: $medium) {
      font-size: 2rem;
      top: -5px;
    }

    .effect-backdrop {
      display: block;
      position: absolute;
      z-index: 0;
      top: -40px;
      bottom: -40px;
      left: -5%;
      right: -5%;
      background: #14181c;
      background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #14181d),
          color-stop(0.97%, rgba(20, 24, 29, 0.985565)),
          color-stop(2.07833%, rgba(20, 24, 29, 0.945131)),
          color-stop(3.29667%, rgba(20, 24, 29, 0.883007)),
          color-stop(4.60167%, rgba(20, 24, 29, 0.803499)),
          color-stop(5.96667%, rgba(20, 24, 29, 0.710915)),
          color-stop(7.365%, rgba(20, 24, 29, 0.609563)),
          color-stop(8.77167%, rgba(20, 24, 29, 0.50375)),
          color-stop(10.16%, rgba(20, 24, 29, 0.397784)),
          color-stop(11.505%, rgba(20, 24, 29, 0.295973)),
          color-stop(12.78%, rgba(20, 24, 29, 0.202624)),
          color-stop(13.95833%, rgba(20, 24, 29, 0.122044)),
          color-stop(15.01667%, rgba(20, 24, 29, 0.0585423)),
          color-stop(15.92833%, rgba(20, 24, 29, 0.0164249)),
          color-stop(16.66667%, rgba(20, 24, 29, 0)),
          color-stop(83.33333%, rgba(20, 24, 29, 0)),
          color-stop(84.07167%, rgba(20, 24, 29, 0.0164249)),
          color-stop(84.98333%, rgba(20, 24, 29, 0.0585423)),
          color-stop(86.04167%, rgba(20, 24, 29, 0.122044)),
          color-stop(87.22%, rgba(20, 24, 29, 0.202624)),
          color-stop(88.495%, rgba(20, 24, 29, 0.295973)),
          color-stop(89.84%, rgba(20, 24, 29, 0.397784)),
          color-stop(91.22833%, rgba(20, 24, 29, 0.50375)),
          color-stop(92.635%, rgba(20, 24, 29, 0.609563)),
          color-stop(94.03333%, rgba(20, 24, 29, 0.710915)),
          color-stop(95.39833%, rgba(20, 24, 29, 0.803499)),
          color-stop(96.70333%, rgba(20, 24, 29, 0.883007)),
          color-stop(97.92167%, rgba(20, 24, 29, 0.945131)),
          color-stop(99.03%, rgba(20, 24, 29, 0.985565)),
          to(#14181d)
        ),
        -webkit-gradient(linear, left bottom, left top, color-stop(0, #14181d), color-stop(0.97%, rgba(20, 24, 29, 0.985565)), color-stop(2.07833%, rgba(20, 24, 29, 0.945131)), color-stop(3.29667%, rgba(20, 24, 29, 0.883007)), color-stop(4.60167%, rgba(20, 24, 29, 0.803499)), color-stop(5.96667%, rgba(20, 24, 29, 0.710915)), color-stop(7.365%, rgba(20, 24, 29, 0.609563)), color-stop(8.77167%, rgba(20, 24, 29, 0.50375)), color-stop(10.16%, rgba(20, 24, 29, 0.397784)), color-stop(11.505%, rgba(20, 24, 29, 0.295973)), color-stop(12.78%, rgba(20, 24, 29, 0.202624)), color-stop(13.95833%, rgba(20, 24, 29, 0.122044)), color-stop(15.01667%, rgba(20, 24, 29, 0.0585423)), color-stop(15.92833%, rgba(20, 24, 29, 0.0164249)), color-stop(16.66667%, rgba(20, 24, 29, 0)), color-stop(83.33333%, rgba(20, 24, 29, 0)), color-stop(84.07167%, rgba(20, 24, 29, 0.0164249)), color-stop(84.98333%, rgba(20, 24, 29, 0.0585423)), color-stop(86.04167%, rgba(20, 24, 29, 0.122044)), color-stop(87.22%, rgba(20, 24, 29, 0.202624)), color-stop(88.495%, rgba(20, 24, 29, 0.295973)), color-stop(89.84%, rgba(20, 24, 29, 0.397784)), color-stop(91.22833%, rgba(20, 24, 29, 0.50375)), color-stop(92.635%, rgba(20, 24, 29, 0.609563)), color-stop(94.03333%, rgba(20, 24, 29, 0.710915)), color-stop(95.39833%, rgba(20, 24, 29, 0.803499)), color-stop(96.70333%, rgba(20, 24, 29, 0.883007)), color-stop(97.92167%, rgba(20, 24, 29, 0.945131)), color-stop(99.03%, rgba(20, 24, 29, 0.985565)), to(#14181d)),
        -webkit-gradient(linear, right top, left top, color-stop(0, #14181d), color-stop(0.97%, rgba(20, 24, 29, 0.985565)), color-stop(2.07833%, rgba(20, 24, 29, 0.945131)), color-stop(3.29667%, rgba(20, 24, 29, 0.883007)), color-stop(4.60167%, rgba(20, 24, 29, 0.803499)), color-stop(5.96667%, rgba(20, 24, 29, 0.710915)), color-stop(7.365%, rgba(20, 24, 29, 0.609563)), color-stop(8.77167%, rgba(20, 24, 29, 0.50375)), color-stop(10.16%, rgba(20, 24, 29, 0.397784)), color-stop(11.505%, rgba(20, 24, 29, 0.295973)), color-stop(12.78%, rgba(20, 24, 29, 0.202624)), color-stop(13.95833%, rgba(20, 24, 29, 0.122044)), color-stop(15.01667%, rgba(20, 24, 29, 0.0585423)), color-stop(15.92833%, rgba(20, 24, 29, 0.0164249)), color-stop(16.66667%, rgba(20, 24, 29, 0)), color-stop(83.33333%, rgba(20, 24, 29, 0)), color-stop(84.07167%, rgba(20, 24, 29, 0.0164249)), color-stop(84.98333%, rgba(20, 24, 29, 0.0585423)), color-stop(86.04167%, rgba(20, 24, 29, 0.122044)), color-stop(87.22%, rgba(20, 24, 29, 0.202624)), color-stop(88.495%, rgba(20, 24, 29, 0.295973)), color-stop(89.84%, rgba(20, 24, 29, 0.397784)), color-stop(91.22833%, rgba(20, 24, 29, 0.50375)), color-stop(92.635%, rgba(20, 24, 29, 0.609563)), color-stop(94.03333%, rgba(20, 24, 29, 0.710915)), color-stop(95.39833%, rgba(20, 24, 29, 0.803499)), color-stop(96.70333%, rgba(20, 24, 29, 0.883007)), color-stop(97.92167%, rgba(20, 24, 29, 0.945131)), color-stop(99.03%, rgba(20, 24, 29, 0.985565)), to(#14181d)),
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #14181d), color-stop(0.97%, rgba(20, 24, 29, 0.985565)), color-stop(2.07833%, rgba(20, 24, 29, 0.945131)), color-stop(3.29667%, rgba(20, 24, 29, 0.883007)), color-stop(4.60167%, rgba(20, 24, 29, 0.803499)), color-stop(5.96667%, rgba(20, 24, 29, 0.710915)), color-stop(7.365%, rgba(20, 24, 29, 0.609563)), color-stop(8.77167%, rgba(20, 24, 29, 0.50375)), color-stop(10.16%, rgba(20, 24, 29, 0.397784)), color-stop(11.505%, rgba(20, 24, 29, 0.295973)), color-stop(12.78%, rgba(20, 24, 29, 0.202624)), color-stop(13.95833%, rgba(20, 24, 29, 0.122044)), color-stop(15.01667%, rgba(20, 24, 29, 0.0585423)), color-stop(15.92833%, rgba(20, 24, 29, 0.0164249)), color-stop(16.66667%, rgba(20, 24, 29, 0)), color-stop(83.33333%, rgba(20, 24, 29, 0)), color-stop(84.07167%, rgba(20, 24, 29, 0.0164249)), color-stop(84.98333%, rgba(20, 24, 29, 0.0585423)), color-stop(86.04167%, rgba(20, 24, 29, 0.122044)), color-stop(87.22%, rgba(20, 24, 29, 0.202624)), color-stop(88.495%, rgba(20, 24, 29, 0.295973)), color-stop(89.84%, rgba(20, 24, 29, 0.397784)), color-stop(91.22833%, rgba(20, 24, 29, 0.50375)), color-stop(92.635%, rgba(20, 24, 29, 0.609563)), color-stop(94.03333%, rgba(20, 24, 29, 0.710915)), color-stop(95.39833%, rgba(20, 24, 29, 0.803499)), color-stop(96.70333%, rgba(20, 24, 29, 0.883007)), color-stop(97.92167%, rgba(20, 24, 29, 0.945131)), color-stop(99.03%, rgba(20, 24, 29, 0.985565)), to(#14181d));
      background: linear-gradient(
          90deg,
          #14181d 0,
          rgba(20, 24, 29, 0.985565) 0.97%,
          rgba(20, 24, 29, 0.945131) 2.07833%,
          rgba(20, 24, 29, 0.883007) 3.29667%,
          rgba(20, 24, 29, 0.803499) 4.60167%,
          rgba(20, 24, 29, 0.710915) 5.96667%,
          rgba(20, 24, 29, 0.609563) 7.365%,
          rgba(20, 24, 29, 0.50375) 8.77167%,
          rgba(20, 24, 29, 0.397784) 10.16%,
          rgba(20, 24, 29, 0.295973) 11.505%,
          rgba(20, 24, 29, 0.202624) 12.78%,
          rgba(20, 24, 29, 0.122044) 13.95833%,
          rgba(20, 24, 29, 0.0585423) 15.01667%,
          rgba(20, 24, 29, 0.0164249) 15.92833%,
          rgba(20, 24, 29, 0) 16.66667%,
          rgba(20, 24, 29, 0) 83.33333%,
          rgba(20, 24, 29, 0.0164249) 84.07167%,
          rgba(20, 24, 29, 0.0585423) 84.98333%,
          rgba(20, 24, 29, 0.122044) 86.04167%,
          rgba(20, 24, 29, 0.202624) 87.22%,
          rgba(20, 24, 29, 0.295973) 88.495%,
          rgba(20, 24, 29, 0.397784) 89.84%,
          rgba(20, 24, 29, 0.50375) 91.22833%,
          rgba(20, 24, 29, 0.609563) 92.635%,
          rgba(20, 24, 29, 0.710915) 94.03333%,
          rgba(20, 24, 29, 0.803499) 95.39833%,
          rgba(20, 24, 29, 0.883007) 96.70333%,
          rgba(20, 24, 29, 0.945131) 97.92167%,
          rgba(20, 24, 29, 0.985565) 99.03%,
          #14181d
        ),
        linear-gradient(
          0deg,
          #14181d 0,
          rgba(20, 24, 29, 0.985565) 0.97%,
          rgba(20, 24, 29, 0.945131) 2.07833%,
          rgba(20, 24, 29, 0.883007) 3.29667%,
          rgba(20, 24, 29, 0.803499) 4.60167%,
          rgba(20, 24, 29, 0.710915) 5.96667%,
          rgba(20, 24, 29, 0.609563) 7.365%,
          rgba(20, 24, 29, 0.50375) 8.77167%,
          rgba(20, 24, 29, 0.397784) 10.16%,
          rgba(20, 24, 29, 0.295973) 11.505%,
          rgba(20, 24, 29, 0.202624) 12.78%,
          rgba(20, 24, 29, 0.122044) 13.95833%,
          rgba(20, 24, 29, 0.0585423) 15.01667%,
          rgba(20, 24, 29, 0.0164249) 15.92833%,
          rgba(20, 24, 29, 0) 16.66667%,
          rgba(20, 24, 29, 0) 83.33333%,
          rgba(20, 24, 29, 0.0164249) 84.07167%,
          rgba(20, 24, 29, 0.0585423) 84.98333%,
          rgba(20, 24, 29, 0.122044) 86.04167%,
          rgba(20, 24, 29, 0.202624) 87.22%,
          rgba(20, 24, 29, 0.295973) 88.495%,
          rgba(20, 24, 29, 0.397784) 89.84%,
          rgba(20, 24, 29, 0.50375) 91.22833%,
          rgba(20, 24, 29, 0.609563) 92.635%,
          rgba(20, 24, 29, 0.710915) 94.03333%,
          rgba(20, 24, 29, 0.803499) 95.39833%,
          rgba(20, 24, 29, 0.883007) 96.70333%,
          rgba(20, 24, 29, 0.945131) 97.92167%,
          rgba(20, 24, 29, 0.985565) 99.03%,
          #14181d
        ),
        linear-gradient(
          270deg,
          #14181d 0,
          rgba(20, 24, 29, 0.985565) 0.97%,
          rgba(20, 24, 29, 0.945131) 2.07833%,
          rgba(20, 24, 29, 0.883007) 3.29667%,
          rgba(20, 24, 29, 0.803499) 4.60167%,
          rgba(20, 24, 29, 0.710915) 5.96667%,
          rgba(20, 24, 29, 0.609563) 7.365%,
          rgba(20, 24, 29, 0.50375) 8.77167%,
          rgba(20, 24, 29, 0.397784) 10.16%,
          rgba(20, 24, 29, 0.295973) 11.505%,
          rgba(20, 24, 29, 0.202624) 12.78%,
          rgba(20, 24, 29, 0.122044) 13.95833%,
          rgba(20, 24, 29, 0.0585423) 15.01667%,
          rgba(20, 24, 29, 0.0164249) 15.92833%,
          rgba(20, 24, 29, 0) 16.66667%,
          rgba(20, 24, 29, 0) 83.33333%,
          rgba(20, 24, 29, 0.0164249) 84.07167%,
          rgba(20, 24, 29, 0.0585423) 84.98333%,
          rgba(20, 24, 29, 0.122044) 86.04167%,
          rgba(20, 24, 29, 0.202624) 87.22%,
          rgba(20, 24, 29, 0.295973) 88.495%,
          rgba(20, 24, 29, 0.397784) 89.84%,
          rgba(20, 24, 29, 0.50375) 91.22833%,
          rgba(20, 24, 29, 0.609563) 92.635%,
          rgba(20, 24, 29, 0.710915) 94.03333%,
          rgba(20, 24, 29, 0.803499) 95.39833%,
          rgba(20, 24, 29, 0.883007) 96.70333%,
          rgba(20, 24, 29, 0.945131) 97.92167%,
          rgba(20, 24, 29, 0.985565) 99.03%,
          #14181d
        ),
        linear-gradient(
          180deg,
          #14181d 0,
          rgba(20, 24, 29, 0.985565) 0.97%,
          rgba(20, 24, 29, 0.945131) 2.07833%,
          rgba(20, 24, 29, 0.883007) 3.29667%,
          rgba(20, 24, 29, 0.803499) 4.60167%,
          rgba(20, 24, 29, 0.710915) 5.96667%,
          rgba(20, 24, 29, 0.609563) 7.365%,
          rgba(20, 24, 29, 0.50375) 8.77167%,
          rgba(20, 24, 29, 0.397784) 10.16%,
          rgba(20, 24, 29, 0.295973) 11.505%,
          rgba(20, 24, 29, 0.202624) 12.78%,
          rgba(20, 24, 29, 0.122044) 13.95833%,
          rgba(20, 24, 29, 0.0585423) 15.01667%,
          rgba(20, 24, 29, 0.0164249) 15.92833%,
          rgba(20, 24, 29, 0) 16.66667%,
          rgba(20, 24, 29, 0) 83.33333%,
          rgba(20, 24, 29, 0.0164249) 84.07167%,
          rgba(20, 24, 29, 0.0585423) 84.98333%,
          rgba(20, 24, 29, 0.122044) 86.04167%,
          rgba(20, 24, 29, 0.202624) 87.22%,
          rgba(20, 24, 29, 0.295973) 88.495%,
          rgba(20, 24, 29, 0.397784) 89.84%,
          rgba(20, 24, 29, 0.50375) 91.22833%,
          rgba(20, 24, 29, 0.609563) 92.635%,
          rgba(20, 24, 29, 0.710915) 94.03333%,
          rgba(20, 24, 29, 0.803499) 95.39833%,
          rgba(20, 24, 29, 0.883007) 96.70333%,
          rgba(20, 24, 29, 0.945131) 97.92167%,
          rgba(20, 24, 29, 0.985565) 99.03%,
          #14181d
        );

      @media screen and (max-width: $small) {
        top: -15px;
        bottom: -10px;
      }
    }

    img {
      width: 100%;
      border-radius: 5px;
      filter: brightness(0.7);

      /*  @media screen and (max-width: $small) {
        filter: brightness(0.5);
      } */
    }
  }

  .title-info {
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.33333333;
    color: $white;
    margin-top: -130px;
    font-weight: bold;
    font-family: "Crimson Text", serif;
    letter-spacing: -3px;
    filter: contrast(0.8);

    @media screen and (max-width: $extra-large) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $medium) {
      font-size: 2rem;
      margin-top: -50px;
    }

    @media screen and (max-width: $small) {
      font-size: 1.6rem;
      margin-top: 0;
      letter-spacing: -2px;
    }
  }
}
