$white: #fff;
$gray-light: #777777a1;
$gray-super-light: #89a;

$txt-description: #becad6;

$link: #def;
$link-hover: #40bcf4;

$nav-section-color: #d8e0e8;

$backgroundMovieDb: #14181c;
$border-card-movie: rgb(190, 190, 190);
$border-card-movie-hover: #00e054;

$icon-eyes: #00e054;
$icon-heart: rgb(211, 75, 75);

//media Query index

$extra-small: 374px;
$small: 480px;
$medium: 768px;
$large: 992px;
$large-2: 1024px;
$extra-large: 1279px;
