@import "./variables";

@import "./BackgroundHome";
@import "./movieOfDay";
@import "./Header";
@import "./MovieDetails";

.wrapper-site {
  overflow: hidden;
}

.container-site {
  max-width: $extra-large;
  margin: auto;
  padding: 0 7px;
}

.link {
  font-size: 1.35rem;
  border-bottom: 1px solid #456;
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

.back-line {
  display: none;

  @media screen and (max-width: $small) {
    display: block;

    padding: 6px 10px;
    width: 126%;
    margin-left: -10px;
    border-radius: 12px;

    i {
      font-size: 30px;
      color: #4e4e4e;
      background: #ffffffcc;
      border-radius: 50%;
      border: 1px;
      border-style: dotted;
    }
  }
}
