@import "./variables";

@import "./BackgroundHome";
@import "./movieOfDay";
@import "./Header";
@import "./MovieDetails";

.wrapper-site {
  overflow: hidden;
}

.container-site {
  max-width: $extra-large;
  margin: auto;
  padding: 0 7px;
}

.link {
  font-size: 1.35rem;
  border-bottom: 1px solid #456;
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}
