@import "./variables";

@import "./BackgroundHome";
@import "./movieOfDay";
@import "./Header";
@import "./MovieDetails";
@import "./PersonDetail";
@import "./Footer";
@import "./Nav";

.wrapper-site {
  overflow: hidden;
}

.container-site {
  max-width: $extra-large;
  margin: auto;
  padding: 0 7px;
}

.link {
  font-size: 1.35rem;
  border-bottom: 1px solid #456;
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

#back-line {
  display: none;

  @media screen and (max-width: $small) {
    display: block;
    position: absolute;
    right: 0;
    top: 46px;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      #14181c 0,
      rgba(20, 24, 28, 0.945) 16.56%,
      rgba(20, 24, 28, 0.802) 30.85%,
      rgba(20, 24, 28, 0.606) 43.77%,
      rgba(20, 24, 28, 0.394) 56.23%,
      rgba(20, 24, 28, 0.198) 69.15%,
      rgba(20, 24, 28, 0.055) 83.44%,
      rgba(20, 24, 28, 0)
    );
    background-repeat: repeat-x;
    height: 60px;
    opacity: 0.7;
    padding: 6px 10px;

    .container-icon {
      display: flex;
      justify-content: space-between;

      i {
        font-size: 30px;
        color: #e1e1e1;
      }
    }
  }
}
